<div id="logs-container" class="done-page container">

    <div class="row  text-center">
        <div class="toolbelt">
            <a class="btn btn-info" href="" clip-copy="jsonToString(archivedLogs)" clip-click="copyDone()">Copy</a>
            <a class="btn btn-danger" href="" ui-sref="home" >Done</a>
        </div>

        <div class="text-bold">
            <p>
                Once you select <span class="error">Done</span> or navigate away from this page, the logs will be gone.
            </p>
        </div>
    </div>

    <div class="row">

        <tabset class="">
            <tab class="tab" heading="JSON: Formatted" >
                <div>
                    <div data-json-human log="archivedLogs" omit=" '$$hashKey' "></div>
                </div>
            </tab>
            <tab class="tab" heading="JSON: Plain Text" >
                <div>
                    <textarea class="ta-json" ng-bind="jsonToString(archivedLogs)"></textarea>

                </div>
            </tab>
        </tabset>

    </div>

    <a href="#logs-container" offset="80" du-smooth-scroll="logs" class="back-to-top" style="display: inline;">
        <i class="fa fa-arrow-circle-up"></i>
    </a>

</div>