<div class="container">
    <div class="row">

        <div ng-switch="UserService.tokenExists()">

            <div ng-switch-when="true" class="col-md-6 col-md-offset-3 text-center">
                <div>
                    <h1 class="page-heading">You are already logged in</h1>
                </div>
                <div>
                    See <a ui-sref="logs">logs</a> or <a ui-sref="logs">end your session</a>
                </div>
            </div>

            <div ng-switch-when="false" class="col-md-6 col-md-offset-3 text-center">
                <div class="col-lg-12 text-center">
                    <h1 class="page-heading">Welcome to the Collector Verifier</h1>
                    <p class="lead">Enter your collector private key to continue</p>
                </div>
                <form name="login" novalidate>
                    <div class="form-group">
                        <label for="collectorkey">Collector Private Key</label>
                        <div class="error" ng-show="hasError"><span>There was an error verifying your key: </span> <span ng-bind="status"></span></div>
                        <input type="text" id="collectorkey" ng-model="loginModel.key" class="form-control" name="key">
                        <!--<p class="help-block">Example:  </p>-->
                    </div>

                    <input value="Continue" type="submit"  class="btn btn-info"  ng-click="auth(loginModel.key)">
                </form>
            </div>

        </div>

    </div>
</div>
