<div class="container">
    <div class="logs">
        <h1>Logs</h1>
        <div class="search-cont">

            <form class="form-inline" name="form">
                <div class="form-group">
                    <!--<label for="filterOpts">Filter</label>-->
                    <select id="filterOpts" ng-model="selected.val"
                            ng-options="option.val for option in searchOptions"></select>

                </div>
                <div class="form-group">
                    <!--<label for="exampleInputEmail2">Email</label>-->
                    <input type="text" class="form-control filter-input" ng-model="logfilter" id="exampleInputEmail2" placeholder="type filter here...." ng-keyup="filter(selected.val.prop, logfilter)">
                </div>
                <!--<button type="submit" class="btn btn-info" ng-click="filter(selected.val.prop, logfilter)">Filter</button>-->
            </form>
        </div>
        <div>

            <div ng-switch="logs.length > 0">
                <div class="logs-zero-state" ng-switch-when="false">
                    No logs were found. Send some hits to the collector!
                </div>

                <div ng-switch-when="true">

                    <accordion class="clearfix" close-others="settings.onlyOne">
                        <div class="">
                            <table class="heading table">
                                <tr>
                                    <th class="text-uppercase log-type  ">Type</th>
                                    <th class="text-uppercase log-etype ">End Point Type</th>
                                    <th class="text-uppercase log-outs  ">Outputs</th>
                                    <th class="text-uppercase log-date  ">Date</th>
                                </tr>

                            </table>
                        </div>
                        <accordion-group is-open="status.open" ng-repeat="log in logs | orderBy:'-http.start_time'">
                            <accordion-heading>
                                <table class="table">
                                    <tr>
                                        <th class="text-uppercase log-type " ng-bind="log.type">Type</th>
                                        <th class="text-uppercase log-etype" ng-bind="log.http.end_point_type">End Point Type</th>
                                        <th class="text-uppercase log-outs " ng-bind="getOutputKeys(log)"></th>
                                        <th class=" log-date" ng-bind="log.http.start_time">Date</th>
                                    </tr>

                                </table>

                            </accordion-heading>
                            <tabset >
                                <tab heading="Details" ><div ng-include=" 'verifier/assets/views/partials/logdetail.html' "></div></tab>
                                <tab heading="HTTP" ><div ng-include=" 'verifier/assets/views/partials/httpdetail.html' "></div></tab>
                                <tab heading="JSON" ng-show="outputPresent(log, 'json')"><div ng-include=" 'verifier/assets/views/partials/jsondetail.html' "></div></tab>
                                <tab heading="GA" ng-show="outputPresent(log, 'ga')"><div ng-include=" 'verifier/assets/views/partials/gadetail.html' "></div></tab>
                                <tab heading="Raw" ><div ng-include=" 'verifier/assets/views/partials/rawdetail.html' "></div></tab>
                            </tabset>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

        </div>

    </div>
</div>
