body {
    padding-top: 70px;
}
body .logs{
    font-size:12px;
}


.pointer{
    cursor: pointer;
}

.panel-heading {
    padding: 0;
}
.panel-title {
    font-size: 13px;
}
pre{
    font-size:11px;
}
.panel-title a{
    display: block;
    text-decoration: none;
    outline:0;
}
.inner-accordion .panel-body{
    padding:0;

}
.inner-accordion pre.json{
    margin:0;
    border-radius: 0;
}
.inner-accordion .panel-title a {
    padding: 0.2em;
}
.log-heading-info,
.log-heading {
    display: inline-block;
}

.log-etype,
.log-type,
.log-outs{
    width:150px
}
.heading.table,
.panel-title table{
    margin-bottom: 0px;
}

.tab-info{
    margin-top:10px;
}

.detail-val,
.detail-title{
    padding:5px;
    border: 1px solid black;
}
.detail-title{
    color: black;
    background-color: #31b0d5;
}
.detail-val{
    color: #31b0d5;
}
.styled-props{
    margin-bottom:10px;
}
.logs-zero-state,
.search-cont,
.more-info{
    margin:10px 0;
}
.form-control.filter-input{
    height:22px;
    min-width: 400px;
}

/*custom json human css*/
.renderjson a { text-decoration: none; }
.renderjson .disclosure { color: crimson;
    font-size: 150%; }
.renderjson .syntax { color: grey; }
.renderjson .string { color: darkred; }
.renderjson .number { color: darkcyan; }
.renderjson .boolean { color: blueviolet; }
.renderjson .key    { color: darkblue; }
.renderjson .keyword { color: blue; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: orange; }