body {
    padding-top: 70px;
}
body .logs{
    font-size:12px;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
a{
    outline:0
}
.styled-log-data td {
    min-width: 115px;
    max-width: 273px;
}
.styled-props{
    margin-bottom:10px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    word-break: break-all;
    word-wrap: break-word;
}
.done-page .toolbelt{
    margin-bottom:10px;
}
.done-page .toolbelt a{
    margin-right:10px;
}
.ta-json{
    width:100%;
    height:350px;
}
.page-heading{
    margin-top:0;
}
.text-bold{
    font-weight:bolder;
}
.pointer{
    cursor: pointer;
}
.log-toolbelt{
    /*border-top: 1px solid #ddd;*/
}
.log-toolbelt a{
    margin-right:15px;
    outline:0
}
.log-table-headers a{
    text-decoration: none;
    color:black;
}

.panel-heading {
    padding: 0;
}
.archived.panel-default>.panel-heading:hover,
.panel-default>.panel-heading:hover{
    background-color: #f5f5f5;
}

.accord-active.panel-default>.panel-heading {
    background-color: #dcd7d1;
}
.panel-default>.panel-heading {
    background-color: lightgray;
}
.archived.accord-active.panel-default>.panel-heading:hover,
.archived.panel-default>.panel-heading {
    /*background-color: lightgray;*/
    background-color: #ebebeb;
}

.inner-accordion .panel-default>.panel-heading  {
    background-color: #dcd7d1;
}
.nav-tabs>li.active>a,{
    /*background: #31b0d5;*/
    color: black;
}

.panel-title {
    font-size: 13px;
}
pre{
    font-size:11px;
}
.panel-title a{
    display: block;
    text-decoration: none;
    outline:0;
}
.inner-accordion .panel-body{
    padding:0;

}
.inner-accordion pre.json{
    margin:0;
    border-radius: 0;
}
.inner-accordion .panel-title a {
    padding: 0.2em;
}
.log-heading-info,
.log-heading {
    display: inline-block;
}

.log-etype,
.log-type,
.log-outs{
    width:150px
}
.heading.table,
.panel-title table{
    margin-bottom: 0px;
}
.panel-body{
    background:#f5f5f5;
}

.tab-info{
    margin-top:10px;
}

.detail-val,
.detail-title{
    padding:5px;
    border: 1px solid black;
}
.detail-title{
    color: black;
    background-color: #dcd7d1;
    font-weight:bolder;
}
.detail-val{
    color: #000;
}

.logs-zero-state,
.search-cont,
.more-info{
    margin:10px 0;
}
.form-control.filter-input{
    height:22px;
    min-width: 400px;
}
.btn.filter-btn {
    padding: 2px 12px;
}

li.tab.active {
    font-weight: bold;
}

.back-to-top {
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 2px;
    padding:2px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #DCD7BF;
}

.back-to-top i {
    font-size: 60px;
}
.error{color:crimson}

.ad-filter .item,
.dpickers .item{
    display: inline-block;
}
.dpickers .item,
.date-input,
.date-icon{
    height: 22px;
}
.date-icon i{
    top:-4px;
}
.ad-filter{
    margin-top:10px;
}
.ad-filter .item{
    margin:0 10px;
    padding:0;
}
table {
    outline: 0;
}
.date-conjunc{
    margin: 0 5px;
}

/*custom json human css*/
pre.renderjson{background: #eeeeee; margin:0;border: 0; border-radius:0;}
.renderjson a { text-decoration: none; }
.renderjson .disclosure { color: crimson;font-size: 150%; }
.renderjson .syntax { color: grey; }
.renderjson .string { color: darkred; }
.renderjson .number { color: darkcyan; }
.renderjson .boolean { color: blueviolet; }
.renderjson .key    { color: darkblue; }
.renderjson .keyword { color: blue; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: orange; }

/*dark theme*/
.rj-dark .renderjson a              { text-decoration: none; }
.rj-dark .renderjson .disclosure    { color: crimson;font-size: 150%; }
.rj-dark .renderjson .syntax        { color: grey; }
.rj-dark .renderjson .string        { color: red; }
.rj-dark .renderjson .number        { color: cyan; }
.rj-dark .renderjson .boolean       { color: plum; }
.rj-dark .renderjson .key           { color: lightblue; }
.rj-dark .renderjson .keyword       { color: lightgoldenrodyellow; }
.rj-dark .renderjson .object.syntax { color: lightseagreen; }
.rj-dark .renderjson .array.syntax  { color: lightsalmon; }

.match.srch-match.srch-match-key,
.string.match.srch-match.srch-match-value,
.number.match.srch-match.srch-match-value,
.boolean.match.srch-match.srch-match-value,
.keyword.match.srch-match.srch-match-value{
    font-weight:bold;
    color:tomato;
}

.main-filter input {
    min-width: 240px;
}

.main-filter .note {
    margin: 10px 0 0 0;
    text-align: left;
    font-size: 13px;
}
.main-filter .note p {
    margin: 0;
}
.main-filter .modal-body  {
    padding-bottom: 0;
}
