<div class="modal-header">
    <h3 class="modal-title" ng-bind="info.title">Are you sure?</h3>
</div>

<div class="modal-body confirm">
    <p class="text-bold">
        PLEASE NOTE:
        <div class="lead-message" ng-bind="info.leadMessage"></div>
    </p>
    <div class="messages">
        <ul class="message" >
            <li ng-repeat="message in info.messages"  ng-bind="message"></li>
        </ul>
    </div>
    <!--<p class="text-bold">-->
        <!--Are you sure you want to continue?-->
    <!--</p>-->
    <div class="close-message" ng-bind="info.closingMessage"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger" ng-click="ok()" ng-bind="info.continueBtnTxt">Continue</button>
</div>