<div class="tab-info">
    <div class="styled-props styled-log-data" >

        <table>
            <tr>
                <td class="detail-title"><span >RVA ID </span></td>
                <td class="detail-val"><span  ng-bind="log.id"></span></td>
            </tr>
            <tr>
                <td class="detail-title"><span >Profile ID  </span></td>
                <td class="detail-val"><span  ng-bind="log.profile_id | null"></span></td>


            </tr>
            <tr>
                <td class="detail-title"><span >Client ID </span></td>
                <td class="detail-val"><span  ng-bind="log.client_id"></span></td>


            </tr>
        </table>


    </div>




</div>